.complete {
    text-decoration: line-through;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

a.completeHover:hover {
    font-weight: bold;
}

a.deleteHover:hover {
    font-weight: bold;
    text-decoration: line-through;
}