{% extends 'todos/layout.html' %}

{% block content %}

<h1>To Do List</h1>

<form action="{% url 'add' %}" method="POST" id="add">
    {% csrf_token %}
    {{ form.text }}
</form>

<ul class="center-align collection">
    {% for todo in todoList %}
    {% if todo.complete %}
    <a href="{% url 'delete' todo.id %}" class="collection-item complete deleteHover">{{ todo.text }}</a>
    {% else %}
    <a href="{% url 'complete' todo.id %}" class="collection-item completeHover">{{ todo.text }}</a>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}